[user]
	name = Sam Crang
	email = sam.crang@gmail.com
	signingkey = 63DD5A23897A062B

[core]
	excludesfile = ~/.gitignore

[color]
	ui = true

[diff]
	tool = meld
[merge]
	tool = p4merge

[branch]
	autosetuprebase = always
[push]
	default = simple
[gpg]
	program = gpg2
