[user]
	name = Sam Crang
	email = sam.crang@gmail.com
	signingkey = B91590AEA3A6B81BCAE99ADC1F07315057BC3A55

[core]
	excludesfile = ~/.gitignore

[color]
	ui = true

[diff]
	tool = vimdiff
[merge]
	tool = kdiff3

[branch]
	autosetuprebase = always
[push]
	default = simple
[gpg]
	program = gpg2
[difftool]
	prompt = false
