[user]
	name = Sam Crang
	email = sam.crang@gmail.com

[core]
	excludesfile = ~/.gitignore

[color]
	ui = true

[diff]
	tool = meld
[merge]
	tool = p4merge

[branch]
	autosetuprebase = always
[push]
	default = simple
